<div class="win7" id="nav-container">
    <div class="window active" style="max-width: 400px">
        <div class="title-bar">
            <div class="title-bar-text">🤓 Hi</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body has-space">
            {{ partial "profile.html" . }}
            <nav class="navigation">
                <a href="{{ "/" | relURL }}">J:\Home</a>
                <a href="{{ "/posts/" | relURL }}">J:\Posts</a>
                <a href="{{ "/tags/" | relURL }}">J:\Tags</a>
                <a href="{{ "/about/" | relURL }}">J:\About</a>
            </nav>
            <nav class="navigation">
                <a href="{{ "/docs/system-design-toolkit" | relURL }}">System Design Toolkit</a>
                <a href="{{ "https://yakshalang.github.io/" | relURL }}">Yaksha</a>
            </nav>
        </div>
    </div>
</div>